body {
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand';
  padding-top: 5%;
  word-wrap: break-word;
}

.logo {
  width: 250px;
  height: 250px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  padding: 10%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

.Blockchain, .ConductTransaction, .TransactionPool {
  margin: 10%;
  margin-top: 5%;
}

a, a:hover {
  color: #e66;
  text-decoration: underline;
}

input, button {
  color: black;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
}
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
body {
  background-color: black;
}

/**/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
}
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
body {
  background-color: black;
}
